
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
    <div>
        <h3>
            Задание
        </h3>
        <p>
            Создать приложение “Планировщик”. Функциональность: ведение списка дел, а именно:
        </p>
        <ul>
            <li>Добавление пунктов в список</li>
            <li>Удаление пунктов из списка</li>
            <li>Редактирование списка</li>
        </ul>
    </div>
</body>
</html>
